{% extends 'template/adminBase.html.twig' %}


{% block confMsg %}
    <div id="conf_msg_cont" data-action="{{ adminAction }}" class="hide">
        <div id="conf_msg_div">
            <p> <span id="obj_info"> </span> bien <span id="act_info"> </span> </p>
        </div>
    </div>
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="css/adm_content.css">
{% endblock %}

{% block script %}
    <script src="/js/adm_conf_msg.js"></script>
{% endblock %}

{% block comModif %}
    <div id="com_modif_back" class="hide">
        <div id="com_modif_div">
            <p class="close_p">
                <button class="close_btn"> X </button>
            </p>
            <form id="com_modif_form" method="POST" action="">
                <div id="top_inp_div">
                    <div>
                        <label for="com_sig_inp"> Signalement(s): </label>
                        <input type="text" id="com_sig_inp" class="ent_data com_input" name="signaled" />
                    </div>
                    <div>
                        <label for="com_auth_inp"> Auteur: </label>
                        <input type="text" id="com_id_inp" name="id" hidden />
                        <input type="text" id="com_auth_inp" class="ent_data  com_input " name="author" />
                    </div>
                </div>
                <label for="com_cont_area"> Contenu: </label>
                    <textarea id="com_cont_area" class="ent_data" name="content"></textarea>
                <input type="submit" id="com_modif_sub" value="Valider les modifications" />
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="add_chapter_div" class="admin_div hide">
            <p class="close_p">
                <button class="close_btn"> X </button>
            </p>
            <form id="add_chapter_form" action="/admin/chapter/add" method="post">
                <div id="chap_info_div">
                    <input type="text" id="chap_id_input" name="id" hidden/>
                    <label> Numéro du chapitre : 
                        <input type="text" id="chap_nb_input" name="chapterNumber" />
                    </label> 
                    <label> Titre du chapitre : 
                        <input type="text" id="chap_title_input" name="title" />
                    </label> 
                </div>
                <label for="chap_edit" id="content_label" class="form_label"> Entrez le contenu de votre chapitre : </label>
                <div id="chap_edit_div">
                    <textarea id="chap_edit" name="Content"></textarea>
                </div>
                <input type="submit" id="send_btn" value="Envoi de mon chapitre" />
            </form>
        </div>
        <div id="chap_list_div" class="admin_div hide">
            <p class="close_p">
                <button class="close_btn"> X </button>
            </p>
            <div class="tab_frame">
                <table id="chap_table" class="admin_table">
                    <tr>
                        <th> Chapitre n° </th>
                        <th> Titre </th>
                        <th> Date d'ajout </th>
                        <th> Dernière modification </th>
                        <th colspan="2"> Action </th>
                    </tr>
                    {% for chapter in chaptersList %}
                    <tr class="">
                        <td class="chap_numb" data-id="{{ chapter.id }}"> {{ chapter.chapterNumber }} </td>
                        <td class="chap_title"> {{ chapter.title }} </td>
                        <td> {{ chapter.dateAdd }} </td>
                        <td> {{ chapter.dateModif }} </td>
                        <td class="action"> <button class="tb_butt modif_butt chap_modif"> Modifier </button> </td>
                        <td class="action"> <button class="tb_butt supp_butt"> <a href="/admin/chapter/delete/{{ chapter.id }}"> Supprimer </a> </button> </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="com_list_div" class="admin_div hide">
            <p class="close_p">
                <button class="close_btn"> X </button>
            </p>
            <div class="tab_frame">
                <table id="com_table" class="admin_table">
                    <tr>
                        <th> Chapitre </th>
                        <th> Date </th>
                        <th> Auteur </th>
                        <th> Contenu </th>
                        <th colspan="2"> Action </th>
                    </tr>
                    {% for comment in commentsList %}
                    <tr>
                        <td> {{ comment.commentChapter }} </td>
                        <td> {{ comment.dateAdd }}  </td>
                        <td class="comment_author" data-id="{{ comment.id }}"> {{ comment.author }}  </td>
                        <td class="comment_content">
                            {{ comment.content|length < 100 ? comment.content : comment.content|slice(0,100) ~ ' ...' }} 
                        </td>
                        <td class="action"> <button class="tb_butt modif_butt com_modif"> Modifier </button></td>
                        <td class="action"> <button class="tb_butt supp_butt com_supp"> <a href="/admin/comment/delete/{{ comment.id }}"> Supprimer </a> </button>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>    
    </div>
{% endblock %}