{% extends 'template/adminBase.html.twig' %}

{% block dynamicContent %}
    <span id="param_data" data-param="{% for parameter in parameters %} {{ parameter }} {% endfor %}" hidden> </span>
    <div id="chapters_list_div" class="admin_div hide">
        <button class="close_cross"> X </button>
        <br/>
        <table id="chapters_table" class="table_admin">
            <tr>
                <th> Chapitre n° </th>
                <th> Titre </th>
                <th> Date d'ajout </th>
                <th> Dernière modification </th>
                <th colspan="2"> Action </th>
            </tr>
            {% for chapter in chaptersList %}
                <tr>
                    <td class="chap_numb" data-id="{{ chapter.id }}"> {{ chapter.chapterNumber }} </td>
                    <td class="chap_title"> {{ chapter.title }} </td>
                    <td> {{ chapter.dateAdd }} </td>
                    <td> {{ chapter.dateModif }} </td>
                    <td class="action"> <button class="tb_butt modif_butt chap_modif"> Modifier </button> </td>
                    <td class="action"> <button class="tb_butt supp_butt"> <a href="/admin/chapter/delete/{{ chapter.id }}"> Supprimer </a> </button> </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="comments_list_div" class="admin_div hide">
        <button class="close_cross"> X </button>
        <br/>
        <table id="comments_table" class="table_admin">
            <tr>
                <th> Chapitre </th>
                <th> Date </th>
                <th> Auteur </th>
                <th> Contenu </th>
                <th colspan="2"> Action </th>
            </tr>
            {% for comment in commentsList %}
                <tr>
                    <td> {{ comment.commentChapter }} </td>
                    <td> {{ comment.dateAdd }}  </td>
                    <td class="comment_author" data-id="{{ comment.id }}"> {{ comment.author }}  </td>
                    <td class="comment_content">
                        {{ comment.content|length < 100 ? comment.content : comment.content|slice(0,100) ~ ' ...' }} 
                    </td>
                    <td class="action"> <button class="tb_butt modif_butt com_modif"> Modifier </button></td>
                    <td class="action"> <button class="tb_butt supp_butt"> <a href="/admin/comment/delete/{{ comment.id }}"> Supprimer </a> </button>
                </tr>
            {% endfor %}
        </table>
    </div>    
{% endblock %}
