{% extends 'template/visitorBase.html.twig' %}

{% block connexion %}
    {% if connexionStatus == 1 %}
        <div id="con_div">
            <p id="con_info_p"> Vous êtes connecté en tant qu'administrateur </p>
            <div id="con_opt_div">
                <a href="/admin"> Revenir à l'espace administrateur </a>
                <a href="/?deconnect"> Déconnexion </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block dynamicContent %}
    <section id="chapters_section">
        <div id="chapter_reading">
            <h2 id="billet_title"> 
                <span id="chapter_number"> {{ chapterContent.chapterNumber }} </span>.
                <span> {{ chapterContent.title }} </span> 
            </h2>
            <p id="chapter">
                {{ chapterContent.content|striptags }}
            </p>
            <button id="chapter_top" hidden> Haut du chapitre </span>
        </div>
        <nav id="chapters_list_section">
            <ul>
                {% for chapterTitle in chaptersList %}
                    <li>
                        <a href="/{{chapterTitle.id}}">
                            {{ chapterTitle.chapterNumber }}
                            {{ chapterTitle.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </section>
    <div id="comments_intro">
        <hr/>
        <h2> Commentaires </h2>
    </div>
    <section id="comments_section">
        <h4> Vous avez aimé ce chapitre ? Laissez-moi un commentaire :</h4>
        <form id="post_com_form" action="/post" method="post">
            <div id="pseudo_div">
                <label for="pseudo" id="pseudo_label"> Pseudo </label> 
                <input type="text" id="pseudo" class="input" name="pseudo" />
            </div>
            <div id="comment_div">
                <label for="comment" id="comment_label"> Message </label> 
                <textarea id="comment" class="input" name="comment" rows="3"></textarea>
            </div>
            <input type="submit" id="submit" value="envoyer" />
        </form>
        <h4> Liste des commentaires du chapitre : </h4>
        <div id="comments">
        </div>
        <div id="comments_pages">
            {% for i in 0..topPagination %}
                <button class="com_page_nb"> {{ i + 1 }} </button>
            {% endfor %}
        </div>
    </section>
{% endblock %}



{#             <?php
            for ( $i=1 ; $i<=ceil($this->comments_nb/5) ; $i++) {
            ?>
                
            <?php
            }
            ?> #}